.Hero_conteiner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  margin: 0 0.5rem;
  justify-content: space-evenly;
}

.Hero_conteiner_img {
  width: 11rem;
  height: 11rem;
  overflow: hidden;
  border-radius: 100%;
}

.Hero_img {
  width: 100%;
  transform: scale(1.7);
  object-position: 0 3rem;
}

.Hero_text {
  display: flex;
  flex-direction: column;
  margin: 1rem;

  & h1 {
    margin: 0;
    line-height: 2rem;
    color: #21243d;
  }

  & p {
    margin: 2rem 0;
    color: #21243d;
    letter-spacing: 2px;
  }
}

.Hero_button {
  margin: auto;
  background-color: #ff6464;
  color: #303030;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 2px;
}

@media (min-width: 48rem) {
  .Hero_conteiner {
    flex-direction: row-reverse;
  }
  .Hero_text {
    width: 50%;
  }
}